<app-controls-panel></app-controls-panel>

@if (grid$ | async; as grid) {
  @if (waypoints$ | async; as waypoints) {
    @if (path$ | async; as path) {
      <div class="grid-canvas">
        <table>
          <tbody>
            @for (row of grid; track row; let y = $index) {
              <tr>
                @for (cell of row; track cell; let x = $index) {
                  <td
                    [ngClass]="getCellClass(cell, y, x, waypoints, path)"
                    (mousedown)="onCellClick(y, x, $event)"
                    (contextmenu)="$event.preventDefault()">
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  }
}
